<div class="row">
<div class="col col-sm-12">

</div>

</div>

<p>&nbsp;</p>
<div id="resultado">
  <table class="table table-condensed table-responsive">
    <tr>
      <th>Cliente</th>
      <th>Sucursal</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Color</th>
    </tr>
    {{#each senias}}
        <tr>
          <td>{{cliente.nombre}} {{cliente.apellido}}</td>
          <td>{{sucursal}}</td>
          <td>{{unidad.marca}}</td>
          <td>{{unidad.modelo}}</td>
          <td>{{unidad.color}}</td>
        </tr>
    {{/each}}
  </table>
</div>
