<div class="row">
<div class="col col-sm-12">
  <h1>{{titulo}}</h1>
</div>

</div>

<p>&nbsp;</p>
<div id="resultado">
  <table class="senias table table-striped table-responsive">
    <tr>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Ciudad</th>
      <th>Celular</th>
      <th>Sucursal</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Color</th>
      <th>Observaciones</th>
      <th>
        Importe seña
      </th>
      <th>
        Asignar
      </th>
      <th>
        Detalles
      </th>
    </tr>
    {{#each senias}}
        <tr>
          <td>{{fecha}}</td>
          <td>{{cliente.nombre}} {{cliente.apellido}}</td>
          <td>{{cliente.ciudad}}</td>
          <td>{{cliente.celular}}</td>
          <td>{{sucursal.nombre}}</td>
          <td>{{unidad.marca}}</td>
          <td>{{unidad.modelo}}</td>
          <td>{{unidad.color}}</td>
          <td>{{observaciones}}</td>

          <td>
            {{importe}}
          </td>
          <td><a type="button" href="/senias/eliminar/{{unidad.id_unidad}}"  class="btn btn-info btn-sm eliminar" data-idsenia={{unidad.id_unidad}}  title="Eliminar"><i data-idsenia={{unidad.id_unidad}} class="fa fa-trash eliminar"></i></a></td>
          <td>
            <a href='/senias/{{id_senia}}' class="btn btn-info btn-sm" title="Ver Detalle"><i class="fa fa-eye"></i></a>
          </td>
        </tr>
    {{/each}}
  </table>

</div>
<div id="loader" class="container oculto">
  <div class="content has-text-centered">
    <div class="lds-css ng-scope">
      <div style="width:100%;height:100%" class="lds-bars">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>

<script>
  //const botones = document.querySelectorAll('#resultado .eliminar')
  const div = document.getElementById('resultado')
  const loader = document.getElementById('loader')
  let texto = ''
  div.addEventListener('click', async evt => {
/*
    if(evt.target.classList.contains('eliminar')) {
      let datos = {
        idsenia: evt.target.dataset.idsenia
      }
      div.innerHTML = ""
      loader.classList.remove('oculto')
      // const delay = ms => new Promise(resolve => setTimeout(resolve, ms));
      // await delay(2000);
      let res = await fetch('/senias/eliminar/', {
                headers: {
                  'Content-Type': 'application/json'
                },
                  method: 'POST',
                  body: JSON.stringify({idsenia: evt.target.dataset.idsenia}),
                  credentials: 'same-origin'
                })
                const result = await res.json()

                texto+= `<table class="senias table table-striped table-responsive">
                <tr>
                  <th>Fecha</th>
                  <th>Cliente</th>
                  <th>Ciudad</th>
                  <th>Celular</th>
                  <th>Sucursal</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Color</th>
                  <th>Observaciones</th>
                  <th>
                    Importe seña
                  </th>
                  <th>
                    Asignar
                  </th>
                  <th>
                    Detalles
                  </th>
                </tr>`
                result.listado.forEach(u => {
                texto+= `<tr><td>${u.fecha}</td><td>${u.cliente.nombre} ${u.cliente.apellido}</td>
                        <td>${u.cliente.ciudad}</td><td>${u.cliente.celular}</td><td>${u.sucursal.nombre}</td>
                        <td>${u.unidad.marca}</td><td>${u.unidad.modelo}</td><td>${u.unidad.color}</td>
                        <td>${u.observaciones}</td><td>${u.importe}</td>
                        <td><a href="/senias/eliminar" type="button" class="btn btn-info btn-sm eliminar"
                         data-idsenia=${u.unidad.id_unidad} title="Eliminar"><i data-idsenia=${u.unidad.id_unidad}
                          class="fa fa-trash eliminar"></i></a></td>
                          <td><a href='/senias/${u.id_senia}' class="btn btn-info btn-sm" title="Ver Detalle"><i class="fa fa-eye"></i></a></td>
                        </tr>`
              })
              texto+= '</table>'
              div.innerHTML = texto
              texto = ''
              loader.classList.add('oculto')
          }*/
      })


</script>
