
<table class="table table-striped table-condensed">
  <tr>
    <th>Nro. Unidad</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Nro. Motor</th>
    <th>Matrícula</th>
  </tr>
  {{#each unidades}}
    <tr>
      <td><a href="/unidades/editar/{{ id_unidad }}">{{ id_unidad}}</a></td><td>{{ marca }}</td><td> {{ modelo }}</td><td>{{ nro_motor }}</td><td>{{ matricula }}</td>
    </tr>
  {{/each}}
</table>
