<div class="container">
  <h1>{{titulo}}</h1>
  <p>&nbsp;</p>
  <div class="row">
   <form class="form-horizontal" action="" id="form-unidades">
     <div class="form-group">
       <label for="id" class="col-sm-2 control-label">Nro.</label>
       <div class="col-sm-2">
         <input type="text" class="form-control text-center" id="id" name="id" value="{{ datos.unidad.id_unidad }}" readonly>
       </div>
     </div>
     <div class="form-group">
       <label for="marca" class="col-sm-2 control-label">Marca</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="marca" name="marca" value = {{ datos.unidad.marca }}>
       </div>
     </div>
     <div class="form-group">
       <label for="modelo" class="col-sm-2 control-label">Modelo</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="modelo" name="modelo" value = {{ datos.unidad.modelo }}>
       </div>
     </div>
     <div class="form-group">
       <label for="nromotor" class="col-sm-2 control-label">Nro. de motor</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="nromotor" name="nromotor" value = {{ datos.unidad.nro_motor }}>
       </div>
     </div>
     <div class="form-group">
       <label for="padron" class="col-sm-2 control-label">Padrón</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="padron" name="padron" value = {{ datos.unidad.padron }}>
       </div>
     </div>
     <div class="form-group">
       <label for="matricula" class="col-sm-2 control-label">Matrícula</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="matricula" name="matricula" value = {{ datos.unidad.matricula }}>
       </div>
     </div>
     <div class="form-group">
       <label for="anio" class="col-sm-2 control-label">Año</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="anio" name="anio" value = {{ datos.unidad.anio }}>
       </div>
     </div>
     <div class="form-group">
       <label for="precio" class="col-sm-2 control-label">Precio</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="precio" name="precio" value = {{ datos.unidad.precio }}>
       </div>
     </div>
     <div class="form-group">
       <label for="color" class="col-sm-2 control-label">Color</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="color" name="color" value={{ datos.unidad.color }}>
       </div>
     </div>
     <div class="form-group">
       <label for="tipo" class="col-sm-2 control-label">Tipo</label>
       <div class="col-sm-4">
         <select id="tipo" name="tipo" class="form-control">
           {{#each datos.tipos}}
           <option value="{{id}}" {{ selected }}>{{ tipo }}</option>
           {{/each}}
         </select>
       </div>
       </div>
      <div class="form-group">
       <label for="combustible" class="col-sm-2 control-label">Combustible</label>
       <div class="col-sm-4">
         <select id="combustible" name="combustible" class="form-control">
           {{#each datos.combustibles}}
           <option value="{{ id }}" {{ selected }} >{{ comb }}</option>
           {{/each}}
         </select>
       </div>
     </div>
     <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="nuevo" name="nuevo" {{ datos.unidad.nuevo }}> 0Km?
        </label>
      </div>
    </div> 
     <div class="form-group">
       <label for="sucursal" class="col-sm-2 control-label">Sucursal</label>
       <div class="col-sm-4">
         <select class="form-control" name="sucursales" DISABLED>
           {{#each datos.sucursales}}
             
             <option value="{{ id_sucursal}}" {{ selected }} >{{ nombre }}</option>
           {{/each}}  
         </select>

       </div>
     </div>
     
     <input type="submit" class="btn btn-default" value="Guardar" {{ datos.unidad.disabled}}>
   </form>
  </div>
</div>
