<div class="container">
  <h1>{{titulo}}</h1>
  <p>&nbsp;</p>
  <b><i><span class="text-warning" id="errores"></span></i></b>
  <div class="row">
   <form class="form-horizontal" action="" id="form-unidades">
     <div class="form-group">
       <label for="id" class="col-sm-2 control-label">Nro.</label>
       <div class="col-sm-2">
         <input type="text" class="form-control text-center" id="id" name="id" value="{{ datos.unidad.id_unidad }}" readonly>
       </div>
       <div class="col-sm-2">
         <button type="button" name="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-id="{{ datos.unidad.id_unidad }}"><i class="fa fa-calendar" aria-hidden="true"></i>
 Ver Historial</button>
       </div>
     </div>
     <div class="form-group">
       <label for="marca" class="col-sm-2 control-label">Marca</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="marca" name="marca" value = "{{ datos.unidad.marca }}">
       </div>
     </div>
     <div class="form-group">
       <label for="modelo" class="col-sm-2 control-label">Modelo</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="modelo" name="modelo" value = "{{ datos.unidad.modelo }}">
       </div>
     </div>
     <div class="form-group">
       <label for="nromotor" class="col-sm-2 control-label">Nro. de motor</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="nromotor" name="nromotor" value = "{{ datos.unidad.nro_motor }}">
       </div>
     </div>
     <div class="form-group">
       <label for="nrochasis" class="col-sm-2 control-label">Nro. de chasis</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="nrochasis" name="nrochasis" value="{{ datos.unidad.nro_chasis}}">
       </div>
     </div>
     <div class="form-group">
       <label for="padron" class="col-sm-2 control-label">Padrón</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="padron" name="padron" value = "{{ datos.unidad.padron }}">
       </div>
     </div>
     <div class="form-group">
       <label for="matricula" class="col-sm-2 control-label">Matrícula</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="matricula" name="matricula" value = "{{ datos.unidad.matricula }}">
       </div>
     </div>
     <div class="form-group">
       <label for="anio" class="col-sm-2 control-label">Año</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="anio" name="anio" value = "{{ datos.unidad.anio }}">
       </div>
     </div>
     <div class="form-group">
       <label for="llaves" class="col-sm-2 control-label">Cantidad llaves</label>
       <div class="col-sm-4">
         <input type="number" required class="form-control" id="llaves" name="llaves" value = "{{ datos.unidad.llaves }}">
       </div>
     </div>
     <div class="form-group">
       <label for="precio" class="col-sm-2 control-label">Precio</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="precio" name="precio" value = "{{ datos.unidad.precio }}">
       </div>
     </div>

     <div class="form-group">
       <label for="toma" class="col-sm-2 control-label">Toma U$S</label>
       <div class="col-sm-4">
         <input type="hidden" id="toma" name="toma" value="{{ datos.unidad.toma }}">
         <input type="text" id="mostrar" name="mostrar" class="form-control">
       </div>
     </div>
     <div class="form-group">
       <label for="kmts" class="col-sm-2 control-label">Kmts.</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="kmts" name="kmts" value="{{ datos.unidad.kmts }}">
       </div>
     </div>
     <div class="form-group">
       <label for="color" class="col-sm-2 control-label">Color</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="color" name="color" value= "{{ datos.unidad.color }}">
       </div>
     </div>
     <div class="form-group">
       <label for="tipo" class="col-sm-2 control-label">Tipo</label>
       <div class="col-sm-4">
         <select id="tipo" name="tipo" class="form-control">
           {{#each datos.tipos}}
           <option value="{{id}}" {{ selected }}>{{ tipo }}</option>
           {{/each}}
         </select>
       </div>
       </div>
      <div class="form-group">
       <label for="combustible" class="col-sm-2 control-label">Combustible</label>
       <div class="col-sm-4">
         <select id="combustible" name="combustible" class="form-control">
           {{#each datos.combustibles}}
           <option value="{{ id }}" {{ selected }} >{{ comb }}</option>
           {{/each}}
         </select>
       </div>
     </div>
     <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="nuevo" name="nuevo" {{ datos.unidad.nuevo }}> 0Km?
        </label>
      </div>
    </div>
     <div class="form-group">
       <label for="sucursal" class="col-sm-2 control-label">Sucursal</label>
       <div class="col-sm-4">
         <select class="form-control" name="sucursales" DISABLED>
           {{#each datos.sucursales}}

             <option value="{{ id_sucursal}}" {{ selected }} >{{ nombre }}</option>
           {{/each}}
         </select>

       </div>
     </div>
      <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="vendido" name="vendido"> Marcar como vendido
        </label>
      </div>
    </div>
     </div>
     <input type="submit" class="btn btn-default" value="Guardar" {{ datos.unidad.disabled}}>
   </form>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Historial de la Unidad</h4>
      </div>
      <form class="form-horizontal" id="unitoma">
      <div class="modal-body">
        <div id="resultado"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </form>
  </div>
</div>
</div>
<script>
  const $llaves = document.querySelector("#llaves")
  $llaves.onkeypress = evt => {
    const tecla = evt.keyCode ? evt.keyCode : evt.which
    if(tecla === 8) {
      return true
    }
    if($llaves.value.length > 0) {
      return false
    }
    if(tecla < 49 || tecla > 52) {
      return false

    }
  }

  $toma = document.getElementById('toma')
  $mostrar = document.getElementById('mostrar')
  $mostrar.addEventListener('dblclick', evt => {
    
      if($mostrar.value == '') {
        $mostrar.value = $toma.value
      } else {
        $mostrar.value = ''
      }

  })
  let modal = $('#myModal')
  modal.on('show.bs.modal', function(evt) {
    let id = $(evt.relatedTarget).data('id')
    fetch(`/unidades/historial/${id}`, {
            headers: {
              'Content-Type': 'application/json'
        }})
        .then(function(response) {
          return response.json()
        })
        .then(function(data) {
            let resultado = document.getElementById('resultado')
            let texto = `<table class='table table-condensed table-striped'>
                          <tr><th>Fecha</th><th>Sucursal</th><th>Operación</th></tr>`
                          data.historia.forEach(function(d) {
                            texto += `<tr><td>${d.fecha}</td><td>${d.sucursal.nombre}</td><td>${d.operacion}</td></tr>`
                          })
                          texto += '</table>'
            resultado.innerHTML = texto
            console.log('data = ', data.historia);

      })
      .catch(function(err) {
          console.log(err)
      })
})
</script>
