<div class="row">
<div class="col col-sm-12">
  <h1>{{titulo}}</h1>
</div>
<div class="col-sm-12">
  <form id="busqueda" data-id="{{datos.user.sucursal}}" class="form-inline">
    <div class="form-group">
      <label for="mes">Mes</label>
      <select name="mes" id="mes" class="form-control">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Setiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
    </div>
    <div class="form-group">
      <label for="anio">Año</label>
      <input type="text" class="form-control" name="anio" id="anio">
    </div>
    <input type="submit" class="btn btn-info" id="boton" value="Buscar">
  </form>
</div>
</div>

<p>&nbsp;</p>
<div id="resultado">
  <table class="table table-condensed table-responsive">
    <tr>
      <th>Fecha</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>OKM</th>
      
    </tr>
    {{#each datos.ventas}}
        <tr>
          <td>{{fecha}}</td>
          <td>{{unidad.marca}}</td>
          <td>{{unidad.modelo}}</td>
          <td>{{unidad.nuevo}}</td>
          
        </tr>
    {{/each}}
  </table>

</div>

<script>
  let resultado = document.getElementById('resultado')
  let form = document.getElementById('busqueda')
  form.addEventListener('submit', async evt => {
    evt.preventDefault()
    let datos = {
      anio: form.anio.value,
      mes: form.mes.value,
      sucursal: form.dataset.id
    }
    let respuesta = await fetch('/unidades/ventas', {
      method: 'post',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(datos)
    })
    let response = await respuesta.json()
    if(response[0] != null) {
      let texto = `<table class="table table-condensed table-responsive">
      <tr>
        <th>Fecha</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>OKM</th>
      </tr>`
    response.forEach(item => {
      texto+= `<tr>
        <td>${item.fecha}</td>
        <td>${item.unidad.marca}</td>
        <td>${item.unidad.modelo}</td>
        <td>${item.unidad.nuevo}</td>
      </tr>`
      resultado.innerHTML = texto
       
    })
    } else {
      resultado.innerHTML = 'No hay datos para la búsqudeda seleccionada'
    }
  })

</script>


